<%= form_for(@contact_type) do |f| %>

  <%= render "layouts/message" %>

  <div class="form-gruop">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <br/>
  <%= f.fields_for :fields do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end -%>
  <br/>

  <%= link_to_add_fields "Add Contact Field", f, :fields %><br/>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-success btn-block" %>
  </div>
<% end %>
