<%= form_for(@contact_type) do |f| %>
  <% if @contact_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_type.errors.count, "error") %> prohibited this contact_type from being saved:</h2>

      <ul>
      <% @contact_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-gruop">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <br/>
  <%= f.fields_for :fields do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end -%>
  <br/>

  <%= link_to_add_fields "Add Contact Field", f, :fields %><br/>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-success btn-block" %>
  </div>
<% end %>
